<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main width-fill min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form method="post" action="/create">
                <input name="title" class="block bg-zinc-800 px-5 py-2 w-full rounded-md" type="text" placeholder="Enter your title here">
                <textarea name="description" class="block bg-zinc-800 px-5 py-2 w-full mt-2 resize-none rounded-md" placeholder="Enter your description"></textarea>
                <input class="rounded-md bg-blue-600 px-5 py-2 mt-2" type="submit" value="Create Task"/>
            </form>
        </div>
        <div class="tasks p-10 flex flex-wrap gap-3">
            <% if(files.length > 0){ %>
            <% files.forEach((file) => { %>
                <div class="task w-72 px-3 py-4 rounded-md bg-zinc-800">
                    <h1 class="text-white text-3xl tracking-tighter"><%= file %></h1>
                    <a class="text-blue-500 inline-block mt-3" href="">Read More</a>
                </div>
                <% }) %>
                <% } else { %>
                <h1 class="text-white text-xl">No tasks found</h1>
                <% } %>
        </div>
    </div>
</body>
</html>