<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main width-fill min-h-screen bg-zinc-900 p-10">
        <a class="text-blue-500 inline-block mb-5" href="/">Go Back to Home</a>
        <h1 class="text-white text-3xl"><%= filename %></h1>
        <p class="text-white text-lg mt-2"><%= data %></p>
    </div>
</body>
</html>